#root,
.App {
  height: inherit;
  background-color: whitesmoke;
}
html {
  width: 100%;
  height: 100%;
}
body {
  padding-bottom: 64px;
  margin: 0;
  height: inherit;
}

*::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}
*:hover::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px black;
  box-shadow: inset 0 0 0px black;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(185, 182, 182);
}

* {
  box-sizing: border-box !important;
}
.list {
  display: inline-block;
  padding: 8px;
  min-width: 250px;
  width: 20%;
  height: inherit;
  overflow: overlay;
  border: 5px solid white;
  border-bottom: none;
  border-right: none;
}
.list:last-child {
  border-right: 5px solid white;
}
.list ul {
  border-left: none;
  padding-left: 18px;
}
.list span {
  font-size: 0.75rem;
}
.list .word {
  text-transform: capitalize;
}
.list li {
  white-space: normal;
}
.interim_span {
  color: gray;
}
.final_span {
  color: black;
  text-transform: capitalize;
  padding-right: 3px;
}
.result {
  height: inherit;
  background-color: whitesmoke;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #f3f3f3;
  padding: 0px 8px;
}
.header span {
  line-height: 50px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
#voice-list {
  width: 100px;
  background-color: transparent;
}
select#voice-list:empty {
  display: none;
}
.fixed-bottom {
  padding: 4px !important;
  height: 64px;
  border-top: 5px solid white;
  background-color: whitesmoke !important;
}
.wordList {
  position: absolute;
  top: -32px;
  width: 100%;
  padding: 4px;
  overflow: overlay;
  white-space: pre;
  height: 32px;
}
.listen-btn{
  border-radius: 100%;
  letter-spacing: 1px;
}