#root,
.App {
  height: inherit;
  background-color: whitesmoke;
}
html {
  width: 100%;
  height: 100%;
}
body {
  padding-bottom: 200px;
  margin: 0;
  height: inherit;
}

*::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}
*:hover::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px black;
  box-shadow: inset 0 0 0px black;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(185, 182, 182);
}
.noselect,
.noselectAll {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
* {
  box-sizing: border-box !important;
}
.list {
  display: inline-block;
  padding: 8px;
  min-width: 250px;
  width: 20%;
  height: inherit;
  overflow: overlay;
  border: 5px solid white;
  border-bottom: none;
  border-right: none;
}
.list:last-child {
  border-right: 5px solid white;
}
.list ul {
  border-left: none;
  padding-left: 18px;
}
.list span {
  font-size: 0.75rem;
}
.list .word {
  text-transform: capitalize;
}
.list li {
  white-space: normal;
}
.interim_span {
  color: gray;
}
.final_span {
  color: black;
  text-transform: capitalize;
  padding-right: 3px;
}
.result {
  height: inherit;
  background-color: whitesmoke;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #f3f3f3;
  padding: 0px 8px;
}
.header span {
  line-height: 50px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
#voice-list {
  width: 100px;
  background-color: transparent;
}
select#voice-list:empty {
  display: none;
}
.fixed-bottom {
  border-top: 5px solid white;
  background-color: whitesmoke !important;
  background: radial-gradient(#d5d8de, transparent);
}
.wordList {
  position: absolute;
  top: -32px;
  width: 100%;
  padding: 4px;
  overflow: overlay;
  white-space: pre;
  height: 32px;
}
.listen-btn {
  letter-spacing: 1px;
  width: 61px;
}
.list .list-group-item {
  margin-bottom: 5px;
  overflow: unset !important;
}
.result .js-content {
  overflow: hidden;
}
.result .list {
  height: inherit;
  overflow: overlay;
}
.ok-img {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAe1BMVEX///8AAADZ2dmioqK9vb2QkJCAgIDKysrHx8fCwsL5+fn8/PxGRkbq6urR0dHg4OCxsbFRUVHy8vIvLy9XV1clJSW5ubk4ODhMTExsbGyrq6sYGBh2dnbe3t6KiopmZmYeHh6dnZ1dXV0/Pz8ODg5ycnIqKip8fHw0NDQOgWl8AAAGeElEQVR4nO2daVvbSgxGQ4AADlnI0rBDWgr9/7/wXkhbwJ43lkaakXiq8xmbObG8yNKMB4MgCIIgCIIgCIIgCP41xk0zGxZgYS32ynh2eHv5dFCGM2u7weDueFNI7o1Tc7+Lknr2hpOHwn7GhuP74n62hovLCoKWhrMafpaGR3UE7QxrCZoZ3tUStDJcVBM0MhxXuYpaGta4D5oaTioK2hiWf1QzNhzWFDQxrHiZsTGsewhFhuO8zdCFdPkwKsDLncBwtcrZqvmV9LucNoKhlOHq4GCVMap0SnGtPz4xP18Hds5XPEwJnhQYoJSX3dCe2S/rfn6RI3j89/owYW75oyt4UWSIMj6E2nrG2rJJHMJpoVEKuP40QJZiwnCTedspyLfWEIeMbROZ4UOxgeZy1hkj41KYSO5H5YaaxzRxJtGLA4lntuOCg80h/Vj5TbC5M0P0Col6S3NvOLsBhtSj6N1wsUaCF8TnN+eGi0ck+IO6C9+GTeKJa8eS/ATu2hC/5VzTn79dG8Jq7Q3j6duz4XckeMBJLxwbpvK6Haw3IX4NR1CQl/u4NcSVBuYLCK+GWyjIbchxaph8e/TGnLsrn4ZzKMh/heTSsJ3Sv3PI35lHw1MomDM0h4aplH5H1tsHf4a4UvSitT9bQ9y4dJW3Q2+GE9jXmlV3GrgzxCn9ee4ufRkunqFg9mtqV4Zj2J28yW8Pd2UIU/obQf+7J8MVFOQW1D7iyPAKCT7xymkt/BjeIkFWpamLG0Oc8QrLmV4Mj7vj+I20p8CJ4RYKHkl37cPwujuK37BT+g4uDFUz3jYeDHEX/VZh7w4McUp/r7F7e0PtjJew/7qGeB6EUk+ItSFO6bWaXowNJ7DGm5vSd7A1bORF7F5MDRdLJKjYeWZp2MCMV5DSd7A0hBnvoyTjbWNoqFPE7sXOEKb0vPbRXswMX6CgLKXvYGWIq/TaXfQ5hgoXOpzSq88ayjCcy39mXMQmt42S4RvO5ZGkWcTuhW24G53o/VfZjLcN1/DPzy84irpF7F6Yhu/xla2Ii9gqKX0HnuHHEygzUEun9JR/iA0/XyGyFPGs6swidi8cw/YlMCNQseD3vk07+RQxwWIYdq/xbMUJrPGu+sY735y32NCCiG6YuokxA3UBa7z9EycTDwm0H5hsmL5Ls47iGKb0hL704oboMYShiPvSHwlPuqUNcemEHqgw4yUVsUsb7lmgh6qI16YgZbzFo7Q7BZD5j6QpffkrzZ6jSPlP4r708oayQJVnvBUM9wVqn+IWbkkuYtcwzA9UjSJ2FcNcRZUidh3DvEDFG3FS+kqGOTcNpZS+liE/ULX60qsZcm8aOKW/ZQlWNOSdizPYts0tYlc05JyLin3pNQ3p5+Ketm2uYF1D6rnY4LZtlbWQChrSAnWsMNXczJAUqOfoLxhTze0MCYowpX/KKmJXN+y9aSjNxDY07DkX1fvSDQz3XlFxxptbl7MwzFo/OvvTCCaG+wIVkF/EtjFkKwr60o0MmYEq6Uu3MmQpiorYZoaMQJVV6e0MyUdRuNCdoSFRUVrEtjQkBaq4bdvUkKAo70u3NewN1Et527axYY9iTsbbxtpwb6BmZbxtzA33HMW1Stu2vSFUlM3E/osDQxSoSn3pHgzTilp96S4MU4Gq1pfuw7CrqPe1QyeG7UBV7Ev3YvhZUT7V/B03hh8DVbUv3Y/hu6JuX7ojwz+Bqty27clwdxSZRexeXBm+Kqr3pfsyHBxdyvfRwplhAcIQEoZuCENIGLohDCFh6IYwhIShG8IQEoZuCENIGLohDCFh6AZNQ3ffIX1jm2uYWIqj1CIjMhJTpWkN1YnvAestO6lJ4jt6tB6P1DedJZ+wL0Vq2RdiH1JibpLHME0E6SOxlSy11oH6qnBiUhM1qd2AyZkRqotPKpA6l8gLZ6WnsWovXihDNsYm/XWeW90lNiVM0mtqPJH7AdEymxejQw/co5Vq6ROJ8XRy3zAuh3Auq2ue6YJ7Fj3wDKvdCq5Q5ZglR3DPugd+Yd7O8IxWr3BnN+Av1nmF/dCFv8Hgk4yptl/repq12vDWetQMMl+z4NnX3sh+j8SftmyDYEHs2Ze4oorW2V7gtQ29sJLm5lO4HokLlhqvV85+WWtA1lpzG06u4OJOljzoTU75/3w8uV/dWBt94OlidKr/bmzcDKdHHpgOG70vIwVBEARBEARBEARB8EX4D9bFYhHD2H24AAAAAElFTkSuQmCC);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.cur-pointer {
  cursor: pointer;
}
.keypad-container {
  padding-bottom: 15px;
  max-width: 512px;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  margin: auto;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAF+CAIAAAA9f7zzAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABXSURBVHhe7cqhEQAgDATBD/23x0wUtWAoIAa3Z85s7T6Ztd4HoSiKoiiKoiiKoiiKoiiKoiiKoiiKoiiKoiiKoiiKoiiKoiiKoiiKoiiKoiiKoij6gyYXM7IFh+F2qQsAAAAASUVORK5CYII=');
}
.keypad {
  display: flex;
  justify-content: center;
}
.keypad.line2 {
  width: 90%;
  margin: auto;
}
.key.command {
  width: 175%;
}
.keypad button {
  background-color: white;
  min-width: 30px;
  min-height: 35px;
  margin: 5px 3px;
  border-radius: 5px;
  width: 100%;
  outline: none !important;
  border: none;
  box-shadow: 0px 2px 2px #a0a0a0;
  font-weight: 400;
  font-size: large;
  color: inherit;
}
@media screen and (max-width: 320px), (min-device-width: 320px) {
  .keypad button {
    min-width: 26px;
  }
}
.keypad button:active {
  background-color: gray;
}
.wordList button {
  padding: 2px;
  margin-right: 8px;
  font-size: 10px;
}
.typingText {
  text-transform: capitalize !important;
}
.wordList .badge{
  text-transform: capitalize;
}
.list-heading{
  background: radial-gradient(#e2e2e2, transparent);
}